
</div>


<div class="footer-section">
  <div id="cta" class="cta">

    <div class="row">
      <div class="col-lg-5">

        <div class="follow-me">
          <span>FOLLOW ME</span>
          <a href="https://www.linkedin.com/in/itsyangyu"><i class="fab fa-linkedin footer-img footer-icon"></i></a>
          <a href="https://github.com/kalig0"><i class="fab fa-github footer-img footer-icon"></i></a>
          <a href="mailto:talldanielyu@gmail.com"><i class="fas fa-envelope-square footer-img footer-icon"></i></a>
        </div>
      </div>

      <div class="col-lg-7">
        <p class="sign-line">
          <span class="signature">signup</span>
          <span class="email-update">for Email Updates</span>
        </p>

        <form action="/signup" method="post" class="form-inline" role="form">
            <input id="firstName" type="text" name="firstName" placeholder="First Name" class="form-control">
            <input id="lastName" type="text" name="lastName" placeholder="Last Name" class="form-control">
            <input id="email" type="text" name="email" placeholder="Email" class="form-control">
          <button type="submit" class="btn btn-warning btn-lg">GO</button>
        </form>

      </div>
    </div>



  </div>
  <div id="bottom" class="footer">
    <p>© Copyright <%= currentYear %> Daniel Yu</p>
  </div>
</div>
</body>
</html>
