<%- include("partials/header"); -%>

<h1>Welcome!</h1>

<div>

  <p>You have signed up successfully to the newsletter. Look forward to lots of awesome content!</p>

</div>

<%- include("partials/footer"); -%>
